<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>
<body style="flex-direction: column;">
    <div id="sidebar-placeholder" hx-get="aside.html" hx-swap="outerHTML" hx-trigger="load"></div>

    <div class="container">
        <div id="task-form" class="card" style="display: none;">
            <form id="add-task-form">
                <input type="text" name="title" placeholder="Task Title" required />
                <input type="text" name="subject" placeholder="Subject" required />
                <input type="date" name="due_date" required />
                <select name="status" required>
                    <option value="To do">To do</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Done">Done</option>
                </select>
                <input type="number" name="progress" placeholder="Progress (%)" min="0" max="100" required />
                <button type="submit" class="btn contrast">Add Task</button>
            </form>
        </div>
    
        <div class="card" style="display: flex; flex-direction: column;">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <h3 color="black">My Tasks</h3>
                <div role="button" onclick="document.getElementById('task-form').style.display='block'" style="background: none; border-radius: 99px; border: 1px solid #d5d5d5; padding: 5px 9px; color: black;"><i class="fa-solid fa-plus"></i></div>
            </div>                        
            <div style="margin-bottom: 1rem;">
                <button class="btn contrast" hx-get="tasks/all.html" hx-target="#task-list" hx-swap="innerHTML">All tasks</button>
                <button class="btn outline contrast" hx-get="tasks/todo.html" hx-target="#task-list" hx-swap="innerHTML">To do</button>
                <button class="btn outline contrast" hx-get="tasks/progress.html" hx-target="#task-list" hx-swap="innerHTML">In progress</button>
                <button class="btn outline contrast" hx-get="tasks/done.html" hx-target="#task-list" hx-swap="innerHTML">Done</button>
            </div>
        
            <div id="task-list">
                <div>
                    <div class="task-card">
                        <div style="display: flex; flex-direction: column;">
                            <abbr>Conduct a virtual experiment</abbr>
                            <small>Chemistry <br/> Jun 8</small>
                        </div>
                        <div style="display: flex; flex-direction: column;">
                            <button style="background-color: #70D7FF; color: white; padding: 8px 15px; border: none; border-radius: 20px;">To do</button>
                            <small>7 comments</small>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="task-card">
                        <div style="display: flex; flex-direction: column;">
                            <abbr>Complete a term-matching taskt</abbr>
                            <small>Biology <br /> Jun 3</small><br/>
                        </div>
                        <button style="background-color: #fd8a60; color: white; padding: 8px 15px; border: none; border-radius: 20px;">In Progress</button>
                    </div>
                    <div class="progress-wrapper">
                        <div class="progress-filled orange" style="width: 20%;"></div>
                        <div class="progress-remaining"></div>
                    </div>
                </div>
                <div>
                    <div class="task-card">
                        <div style="display: flex; flex-direction: column;">
                            <abbr>Study the influence of cultural traditions</abbr>
                            <small>Art History <br /> Jun 2</small><br/>
                        </div>
                        <button style="background-color: #fd8a60; color: white; padding: 8px 15px; border: none; border-radius: 20px;">In Progress</button>
                    </div>
                    <div class="progress-wrapper">
                        <div class="progress-filled green" style="width: 70%;"></div>
                        <div class="progress-remaining"></div>
                    </div>
                </div>
            </div>
        </div>
    
        <template id="task-template">
            <div class="task-card" style="margin-top: 1rem;">
            <div style="display: flex; flex-direction: column;">
                <abbr>{title}</abbr>
                <small>{subject} <br/> {due_date}</small>
            </div>
            <button style="background-color: #fd8a60; color: white; padding: 8px 15px; border: none; border-radius: 20px;">{status}</button>
            </div>
            <progress value="{progress}" max="100" style="margin-top: 5px;"></progress>
        </template>
    </div>

    <script>
        document.getElementById("add-task-form").addEventListener("submit", function (e) {
            e.preventDefault(); // cegah refresh

            const data = new FormData(this);
            const template = document.getElementById("task-template").innerHTML;
            let html = template;

            for (let [key, value] of data.entries()) {
            html = html.replaceAll(`{${key}}`, value);
            }

            const wrapper = document.createElement("div");
            wrapper.innerHTML = html;

            document.getElementById("task-list").appendChild(wrapper);
            this.reset();
            document.getElementById("task-form").style.display = "none";
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
</body>
</html>